<h1>All Symbols</h1>

<table>
  <tr>
    <th>Symbol</th>
    <th>Company name</th>
    <th>Exchange</th>
  </tr>

<% @symbol_infos.each do |symbol_info| %>
  <tr>
    <td><%= link_to symbol_info.symbol, symbol_info %></td>
    <td><%= symbol_info.company_name %></td>
    <td><%= symbol_info.exchange %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Symbol info', new_symbol_info_path %>
