body {
    background: none repeat scroll 0 0 #EFECE6;
    color: #999999;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 87.5%;
    line-height: 1.5em;
    text-align: center;
}

a, a:link, a:visited {
    color: #EE3F3F;
    text-decoration: underline;
}

div#page {
    margin: 0 auto 0.75em;
    position: relative;
    width: 950px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.23);
}

div#header {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    background: url("/assets/websterpier.jpg") no-repeat scroll 0 0 #222222;
    width: 950px;
    height: 296px;
}

#header h1 {
    display: block;
    text-decoration: none;
    padding: 1em 0;
    color: #333333;
}

div#topNav {
    background: none repeat scroll 0 0 #222222;
    padding: 1em 0;
}
div#topNav .wrapper {
    text-align: left;
    margin-left: 40px;
    overflow: auto;
}

div#topNav  ul {
    margin: 0;
    list-style: none;
}

div#topNav li {
    float: left;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-right-style: solid;
    border-right-width: 1px;
}

div#topNav li.current {
    /* background-color: #0064B9; */
}

div#content {
    /*margin: 40px auto 0;*/
    /*margin-left: 40px;*/
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0.5em 5em 1.5em;
    color: #333333;
}

div#content a {
    color: #980905;
}
